#include "secrets.h"
#include "Arduino.h"

// Configurações do WiFi

const char *WIFI_SSID = "SSID DA REDE";
const char *WIFI_SENHA = "SENHA DA REDE";

//============================ MQTT ============================//

const char* MQTT_BROKER = "ENDEREÇO DO BROKER MQTT";
const int MQTT_PORTA = 1883;

const char* MQTT_CLIENT_ID = "ID DO DISPOSITIVO";

const char* MQTT_USUARIO = "USUÁRIO MQTT";
const char* MQTT_SENHA = "SENHA DO USUÁRIO MQTT";

const bool MQTT_TLS = true;

const char MQTT_CERTIFICADO_CA[] PROGMEM = R"EOF(CERTIFICADO)EOF";

//============================ AWS ============================//

const bool USAR_AWS_IOT = true;
const char* AWS_IOT_ENDPOINT = "ENDEREÇO DO ENDPOINT DO AWS IoT CORE";

const char AWS_CERT_CA[] PROGMEM = R"EOF(CERTIFICADO)EOF";

const char AWS_CERT_CRT[] PROGMEM = R"CRT(CERTIFICADO)CRT";

const char AWS_CERT_PRIVATE[] PROGMEM = R"KEY(CERTIFICADO)KEY";

const int AWS_IOT_PORTA = 8883;
const char* AWS_IOT_CLIENT_ID = "ID DO DISPOSITIVO";

//============================ TÓPICOS ============================//

const char* TOPICOS_PUBLICAR[] = {"TÓPICO_PUBLICAR 1", "TÓPICO_PUBLICAR 2", "TÓPICO_PUBLICAR 3"};
const int TOTAL_TOPICOS_PUBLICAR = sizeof(TOPICOS_PUBLICAR) / sizeof(TOPICOS_PUBLICAR[0]);

const char* TOPICOS_RECEBER[] = {"TÓPICO_RECEBER 1", "TÓPICO_RECEBER 2", "TÓPICO_RECEBER 3"};
const int TOTAL_TOPICOS_RECEBER = sizeof(TOPICOS_RECEBER) / sizeof(TOPICOS_RECEBER[0]);

//============================ DEBUG ============================//

// 0 = Sem mensagens
// 1 = Apenas erros
// 2 = Todas as mensagens
const int DEBUG_NIVEL_INICIAL = 2;

// Pino usado para forçar todas as mensagens
const int PINO_HABILITA_DEBUG_COMPLETO = 4;